/* µ×²¿ÇøÓò */ 
.footer {
  width: 800px;
  height: 50px;
  border-top: 2px solid #A9A9A9;
  margin: 0 auto;
  margin-top: 30px;
  padding-top: 5px;
}
.footer span {
  display: block;
  font-size: 12px;
  margin-bottom: 4px;
}