@charset "utf8";

.content-wrapper span:first-child {
  display: block;
  width: 800px;
  height: 30px;
  line-height: 30px;
  padding-bottom: 10px;
  font-size: 20px;
  color: #1E90FF;
  font-weight: 600;
  text-align: left;;
  border-bottom: 2px solid #F5F5F5;
  margin-bottom: 20px;
}
.content-wrapper .errorMeg {
  display: none;
  width: 200px;
  height: 40px;
  line-height: 40px;
  background-color: #ADD8E6;
  position: absolute;
  border-radius: 5px;
  top: 0px;
  left: 300px;
  color: #DC143C;
  font-size: 18px;
}

.content-wrapper .issueName {
  display: block;
  height: 40px;
  width: 280px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  padding-left: 10px;
  border: 1px solid rgba(0,0,0,0.5);
  outline: none;
  margin-bottom: 20px;
}

.choose-type {
  text-align: left;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 400;
}

.content-wrapper .edit {
  width: 800px;
  height: 250px;
  border: 1px solid rgba(0,0,0,0.5);
  float: left;
}

.content-wrapper .edit .content {
  width: 760px;
  height: 200px;
  text-align: left;
  border-bottom: 1px solid rgba(0,0,0,0.5);
  line-height: 30px;
  font-size: 20px;
  padding: 0 20px;
  overflow:auto;
  color: #000000;
}
.content:empty:before {
  content: attr(data-placeholder);
  color: rgba(0,0,0,0.5);
}
.content:focus:before {
  content: none;
}
.content-wrapper .edit .push {
  width: 80px;
  height: 40px;
  line-height: 40px;
  background-color: #00BFFF;
  float: right;
  border-radius: 5px;
  margin-top: 5px;
  margin-right: 10px;
  font-size: 20px;
  color: #FFFFFF;
}
.content-wrapper .edit .push:hover {
  background-color: #87CEFA;
}

